
<input type="text" [(ngModel)]="title">
{{title}}



<div *ngIf="title !== 'platzi' ">
  esto es un div XD
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase=" 'sebastian' "> este es sebastian </p>
  <p *ngSwitchCase=" 'jefersson' "> este es jefersson </p>
  <p *ngSwitchCase=" 'camilo' "> este es camilo </p>
  <p *ngSwitchDefault> elemento por defecto </p>
</div>


<button (click)="addItem()">add name </button>

<ul>
  <li *ngIf="nombres.length===0"> la lista de nombres esta vacia </li>
  <li *ngFor="let name  of nombres; index as indice">
    {{name}}{{indice}}
    <button (click)="deleteItem(indice)">delete</button>
  </li>
</ul>

<div *ngFor="let product of products" >
  <app-product (productClicked)="clickProduct($event)" [product]="product"></app-product>
</div>
